
@keyframes shift {
   0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
   }

   41% {
      transform: skewX(10deg);
   }

   42% {
      transform: skewX(-10deg);
   }

   59% {
      transform: skewX(40deg) skewY(10deg);
   }

   60% {
      transform: skewX(-40deg) skewY(-10deg);
   }

   63% {
      transform: skewX(10deg) skewY(-5deg);
   }

   70% {
      transform: skewX(-50deg) skewY(-20deg);
   }

   71% {
      transform: skewX(10deg) skewY(-10deg);
   }
}



            @keyframes bgEffect1 {
            0%{
                top:30vh;
                left: 40%;
            }

             10%{
                top:40vh;
                left: 10%;
            }

            20%{
                top:80vh;
                left: 70%;
            }

             30%{
                top:10vh;
                left: 90%;
            }

             40%{
                top:60vh;
                left: 100%;
            }

             50%{
                top:100vh;
                left: 80%;
            }

             60%{
                top:20vh;
                left: 20%;
            }

            70%{
                top:50vh;
                left:10%;
            }

             80%{
                top:100vh;
                left: 30%;
            }

             90%{
                top:20vh;
                left: 90%;
            }

            100%{
                top:30vh;
                left:40%;
            }
        }


         @keyframes bgEffect2 {
            0%{
                top:30vh;
                left: 60%;
            }

             10%{
                top:25vh;
                left: 70%;
            }

            20%{
                top:50vh;
                left: 20%;
            }

             30%{
                top:70vh;
                left: 50%;
            }

             40%{
                top:10vh;
                left: 20%;
            }

             50%{
                top:70vh;
                left: 80%;
            }

             60%{
                top:40vh;
                left: 40%;
            }

            70%{
                top:60vh;
                left:10%;
            }

             80%{
                top:20vh;
                left: 80%;
            }

             90%{
                top:20vh;
                left: 30%;
            }

            100%{
                top:30vh;
                left:60%;
            }
        }