 .hero{
        height: calc(100dvh - 64px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;

        

        h2{ text-align: center;
            font-family: var(--heading);
            color: var(--secondary);
            font-weight: 600;
            padding-bottom: 4px;
            letter-spacing: 1px;
            
        }

        p{  text-align: center;
            font-family: var(--text);
            font-size: 18px;
            max-width: 600px;
            font-weight: 200;
            color: var(--body-text);
            line-height: 1.5;
            letter-spacing: 1.5px;
            margin: auto;
            

        }

        .heroBtn{
            display: flex;
            justify-content: center;
            margin-top: 24px;
            gap: 16px;
            }

           
        }


@media  screen and (max-width:475px) {
    .hero{
        padding: 8px;
        p{
            font-size: 12px;
        }

        h2{
            font-size: 16px;
            margin-bottom: 4px;
        }

        .front{
            font-size: 0.8rem;
        }

       
    }

}

