 .Project{

        max-width: 1200px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        margin-top:64px;
        justify-content: center;
        margin: 64px auto 64px auto;
        z-index: 10;
        
        h1{
           font-family: var(--heading);
            font-size: 48px;
            color: var(--contrast);

            span{
                color: var(--primary);
            }

        }

        p{    
            font-family: var(--text);
            color: var(--body-text);
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 24px;
            margin-top: 16px;
            max-width: 600px;
           
            }


       

        .projectWrapper{
            display: flex;
            gap: 48px;
            

            div{
                border: 1px solid var(--body-text);
                padding: 32px;
                border-radius: 10px;
                background-color:var(--secondary) ;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
              

                p{
                    width: 100%;
                    font-size: 16px;
                    color: var(--contrast);
                }

                h2{
                    font-family: var(--heading);
                    color: var(--contrast);
                }

                
            }
            }


            button{
                width: 200px;
              
            }

}

@media screen and (max-width:475px){
    .Project{

        padding: 16px;
        h1{
            font-size: 24px;
        }

        p{
            font-size: 12px;
            letter-spacing: 1px;
        }

        .projectWrapper{
            gap: 16px;

            div{
                padding: 16px;

                h2{
                    font-size: 16px;
                }


                p{
                    font-size: 12px;
                }

                .project-buttons{
                    font-size: 12px;
                    padding: 8px 24px;
                    width: 120px;
                }
            }
        }
    }
}